<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">ngGovExample</a>
    </div>
    <nav>
      <ul class="navbar-nav nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="context1">Context One</a></li>
        <li ui-sref-active="active"><a ui-sref="context2">Context Two</a></li>
        <li ui-sref-active="active"><a ui-sref="context3.one">Context Three</a></li>
        <li ui-sref-active="active"><a ui-sref="context4">Context Four</a></li>
        <li ui-sref-active="active"><a ui-sref="context5a">Context Five-A</a></li>
      </ul>
    </nav>
  </div>
</header>